<nav class="menu">
    <div class="menu__wrapper">
        <a class="menu__title" href="/">
          <svg class="menu__title__media" viewBox="0 0 210 297">
            <use xlink:href="/sprites.svg#logo"></use>
          </svg>
        </a>

        <ul class="menu__list">
            {{#each navigation.data.list}}
                <li class="menu__item">
                    <a href="{{prismicLink link}}" class="menu__link">
                        {{text}}
                    </a>
                </li>
            {{/each}}
        </ul>

    </div>
</nav>
