<div class="preloader">
    <p class="preloader__text">{{breaklines preloader.data.title}}</p>
    <div class="preloader__number">
        <div class="preloader__number__text">0%</div>
    </div>
</div>
